<div class="contenedor">
  <div class="cabecera">
      <label style="margin-left: 30px; margin-top: 10px;">CATALOGO DE DESPERDICIOS</label>
  </div>
  <div class="contenido mt-3">
      <div id="Contenido" class="container-fluid">
          <form class="mb-1">
              <div class="row">
                  <div class="col-sm-12">
                      <fieldset class="fieldset">
                          <legend>Filtros</legend>
                          <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                              <lista-cargoareacap [label]="'Área Captura:'" [filtro]="true" [Value]="this.filtros.ClaveArea" (ValueChange)="ChangeAreaCaptura($event)"></lista-cargoareacap>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                              <lista-desperdicio [label]="'Desperdicio:'" [Value]="this.filtros.ClaveDesperdicio" (ValueChange)="ChangeDesperdicio($event)" ></lista-desperdicio>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                              <lista-cargoareacap [label]="'Cargo:'"  [filtro]="false" [Value]="this.filtros.ClaveCargo"  (ValueChange)="ChangeCargo($event)"></lista-cargoareacap>
                            </div>
                            <div class="col-12 col-sm-2 col-md-2 col-lg-2" style="margin-top: 30px;">
                                  <button type="button" class="btn btn-primary" (click)="btnBuscar()"><i class="fa fa-search"></i></button>
                            </div>
                          </div>
                      </fieldset>
                  </div>
              </div>
              <div class="row mt-4">
                  <div class="col-12">
                      <button type="button" class="btn btn-success float-right add-button" (click)="btnAgregar()" ><i class="fa fa-plus"></i> Agregar</button>
                      <ng-modal [Size]="'lg'" [Titulo]="'DESPERDICIO'" [IconoTitulo]="IconoTitulo" #mdl>
                          <mdl-desperdicios [TipoAccion]="TipoAccion" [Datos]="Datos" (ClickbtnCerrar)="btnCerrarModal()"></mdl-desperdicios>
                      </ng-modal>
                  </div>
              </div>
          </form>
          <div class="row ">
              <div class="col-12 ">
                <grid-ss #gridPrincipal [serviceFunction]="Servicio.GetDesperdicios" [rowsPerPage]="7" [columnDefs]="columnDefs" [Filters]="filtros" [enablePagination]="true">
                </grid-ss>
              </div>
          </div>
      </div>
  </div>
  <div class="Pie ">
      <div class="container ">
          <div class="row ">
              <div class="col-xs-12 col-md-12 text-center ">
                  <h5>Versión 23.11.2021.1</h5>
                  <h5>FCAPRODCAT011CW - CATALOGO DE DESPERDICIOS</h5>
              </div>
          </div>
      </div>
  </div>
</div>
