<form class="mb-1">
    <div class="row">
        <div class="col-sm-8">
            <fieldset class="fieldset">
                <legend>Combinacion Estandar</legend>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Liner 1: </label> <input name="strCEL1" type="text" class="form-control form-control-sm" placeholder="Liner 1"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Corrugado1: </label> <input name="strCEC1" type="text" class="form-control form-control-sm" placeholder="Corrugado 1"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Liner 2: </label> <input name="strCEL2" type="text" class="form-control form-control-sm" placeholder="Liner 2"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Corrugado2: </label> <input name="strCEC2" type="text" class="form-control form-control-sm" placeholder="Corrugado 2"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Liner 3: </label> <input name="strCEL3" type="text" class="form-control form-control-sm" placeholder="Liner 3"  /> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Ancho L1: </label> <input name="strCEAL1" type="text" class="form-control form-control-sm" placeholder="Ancho L1"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Ancho C1: </label> <input name="strCEAC1" type="text" class="form-control form-control-sm" placeholder="Ancho C1"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Ancho L2: </label> <input name="strCEAL2" type="text" class="form-control form-control-sm" placeholder="Ancho L2"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Ancho C2: </label> <input name="strCEAC2" type="text" class="form-control form-control-sm" placeholder="Ancho C2"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Ancho L3: </label> <input name="strCEAL3" type="text" class="form-control form-control-sm" placeholder="Ancho L3"  /> 
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2" style="margin-top: 10px;">
                               
                </div>                          
            </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset class="fieldset">
                <legend>Costo Estandar</legend>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Liner 1: </label> <input name="strL1" type="text" class="form-control form-control-sm" placeholder="Liner 1"  /> 
                    </div>
                    <div class="col-sm-4">
                        <label>Corrugado1: </label> <input name="strC1" type="text" class="form-control form-control-sm" placeholder="Corrugado 1"  /> 
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2" style="margin-top: 10px;">
                               
                </div>                          
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <fieldset class="fieldset">
                <legend>Propuestas</legend>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Liner 1: </label> <input name="strL1" type="text" class="form-control form-control-sm" placeholder="Liner 1"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Corrugado1: </label> <input name="strC1" type="text" class="form-control form-control-sm" placeholder="Corrugado 1"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Liner 2: </label> <input name="strL2" type="text" class="form-control form-control-sm" placeholder="Liner 2"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Corrugado2: </label> <input name="strC2" type="text" class="form-control form-control-sm" placeholder="Corrugado 2"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Liner 3: </label> <input name="strL3" type="text" class="form-control form-control-sm" placeholder="Liner 3"  /> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Ancho L1: </label> <input name="strAL1" type="text" class="form-control form-control-sm" placeholder="Ancho L1"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Ancho C1: </label> <input name="strAC1" type="text" class="form-control form-control-sm" placeholder="Ancho C1"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Ancho L2: </label> <input name="strAL2" type="text" class="form-control form-control-sm" placeholder="Ancho L2"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Ancho C2: </label> <input name="strAC2" type="text" class="form-control form-control-sm" placeholder="Ancho C2"  /> 
                    </div>
                    <div class="col-sm-2">
                        <label>Ancho L3: </label> <input name="strAL3" type="text" class="form-control form-control-sm" placeholder="Ancho L3"  /> 
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2" style="margin-top: 10px;">
                               
                </div>                          
            </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset class="fieldset">
                <legend>Costo Propuesta</legend>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Liner 1: </label> <input name="strL1" type="text" class="form-control form-control-sm" placeholder="Liner 1"  /> 
                    </div>
                    <div class="col-sm-4">
                        <label>Corrugado1: </label> <input name="strC1" type="text" class="form-control form-control-sm" placeholder="Corrugado 1"  /> 
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2" style="margin-top: 10px;">
                               
                </div>                          
            </fieldset>
        </div>
    </div>
 </form>
