<div class="modal-body">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12">
        <fieldset class="fieldset">
          <legend>Origen</legend>
          <div class="row">
            <div class="col-12">
              <lista-maquina [label]="'Máquina:'" [Value]="DatFormulario.claveMaquinaOrigen"
                (ValueChange)="ChangeMaquinaOrigen($event)" [required]="CamposObligatorios.claveMaquinaOrigen">
              </lista-maquina>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label>Mes:</label>
                <select [(ngModel)]="DatFormulario.mesOrigen" class="form-control" name="mes">
                  <option [ngValue]="1">01 Enero</option>
                  <option [ngValue]="2">02 Febrero</option>
                  <option [ngValue]="3">03 Marzo</option>
                  <option [ngValue]="4">04 Abril</option>
                  <option [ngValue]="5">05 Mayo</option>
                  <option [ngValue]="6">06 Junio</option>
                  <option [ngValue]="7">07 Julio</option>
                  <option [ngValue]="8">08 Agosto</option>
                  <option [ngValue]="9">09 Septiembre</option>
                  <option [ngValue]="10">10 Octubre</option>
                  <option [ngValue]="11">11 Noviembre</option>
                  <option [ngValue]="12">12 Diciembre</option>
                </select>
              </div>

            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
              <div class="form-group">
                <label>Año:</label>
                <select [(ngModel)]="DatFormulario.anioOrigen" class="form-control" name="anio">
                  <option *ngFor="let item of Anios" [ngValue]="item">{{item}}</option>
                </select>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <fieldset class="fieldset">
          <legend>Destino</legend>
          <div class="row">
            <div class="col-12">
              <lista-maquina [label]="'Máquina:'" [Value]="DatFormulario.claveMaquinaDestino"
                (ValueChange)="ChangeMaquinaDestino($event)" [required]="CamposObligatorios.claveMaquinaDestino">
              </lista-maquina>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer ">
  <button type="button " class="btn btn-danger " (click)="btnCerrar()"><i class="fas fa-times "></i> Cerrar</button>
  <button type="button " class="btn btn-success " (click)="btnGuardar()"><i class="fas fa-save "></i> Guardar</button>
</div>

<block-ui></block-ui>
