<div class="contenedor">
    <div class="cabecera">
        <label style="margin-left: 30px; margin-top: 10px;">CMO085MW - Captura de Transferencia de Lamina Terceros.</label>
    </div>
    <div class="contenido mt-3">
        <div id="Contenido" class="container-fluid">
            <form class="mb-1">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset class="fieldset">
                            <legend>Datos Origen</legend>
                            <div class="row">
                                <div class="col-sm-12 col-md-8 col-lg-8 form-group"> 
                                    <label>ALMACEN: </label>
                                    <select name ="cmborialmacen" class="form-control form-control" [(ngModel)]="filtros.orialmacen"  >
                                        <option value="undefined">Seleccione un Almacen</option>  
                                        <option  [ngValue]="almacen.clave" *ngFor="let almacen of AlmacenOri" >{{almacen.nombre}}</option>
                                    </select> 
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-3 col-lg-3 form-group">
                                    <label>OP: </label> 
                                    <div class="input-group">
                                        <input name="stroriop" type="text"  [(ngModel)]="filtros.oriop" class="form-control form-control-sm"  placeholder="OP a Buscar"/>
                                        <span class="input-group-btn">
                                            <button id="btnDOBuscarOp" class="btn btn-primary" type="button" (click)="BuscarOp()"> 
                                              <span class="fa fa-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 form-group"> <label>CLIENTE: </label> <input name="strcliente"  [(ngModel)]="tbllamterresultado.nombrecli" disabled type="text" class="form-control form-control-sm"  placeholder="Nombre Cliente"   /> </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 form-group"> <label>ARTICULO: </label> <input name="strarticulo" [(ngModel)]="tbllamterresultado.nombreart"  disabled type="text" class="form-control form-control-sm"  placeholder="Nombre Articulo"  /> </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>INDUSTRIA: </label> 
                                        <input name="strindustria"  [(ngModel)]="tbllamterresultado.industria"  type="text" class="form-control form-control-sm" placeholder="Industria"  disabled/>
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>RESISTENCIA: </label> 
                                        <input name="strresistencia"  [(ngModel)]="tbllamterresultado.resistencia"  type="text" class="form-control form-control-sm"  placeholder="Resistencia"  disabled />
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>FLAUTA: </label> 
                                        <input name="strflauta"  [(ngModel)]="tbllamterresultado.flauta" type="text" class="form-control form-control-sm"  placeholder="Flauta" disabled/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>LARGO: </label> 
                                        <input name="strlargo"  [(ngModel)]="tbllamterresultado.largolamina"  type="text" class="form-control form-control-sm" placeholder="Larco" disabled />
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>ANCHO: </label> 
                                        <input name="strancho"  [(ngModel)]="tbllamterresultado.ancholamina"  type="text" class="form-control form-control-sm"  placeholder="Ancho" disabled />
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>SALDO: </label> 
                                        <input name="strsaldo" [(ngModel)]="tbllamterresultado.saldo"   type="text" class="form-control form-control-sm"  placeholder="Saldo" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>CANTIDAD: </label> 
                                        <input name="strcantidad"  [(ngModel)]="filtros.cantransferir"  type="text" class="form-control form-control-sm"  placeholder="Cantidad"  />
                                    </div>
                                    <div class="col-7">
                                        <button id="btnTrasEnviar" type="btnEnviar" class="btn btn-success float-right"    (click)="btnEnviar()"> >>></button>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2 col-md-2 col-lg-2" style="margin-top: 10px;">
                                </div>                           

                        </fieldset>

                    </div>

                    <div class="col-sm-6">
                        <fieldset class="fieldset">
                            <legend>Datos Destino</legend>

                            <!--
                            <div class="row">
                                <div class="col-sm-12 col-md-5 col-lg-5 form-group"> 
                                    <label>ALMACEN: </label>
                                    <select name ="cmbdesalmacen" class="form-control form-control" [(ngModel)]="tblTraspaso.desalmacen"  >
                                        <option value="undefined">Seleccione un Almacen</option>  
                                        <option  [ngValue]="almacen.clave" *ngFor="let almacen of AlmacenDes" >{{almacen.nombre}}</option>
                                    </select> 
                                </div>
                            </div>
                            -->

                            <div class="row">
                                <div class="col-sm-12 col-md-3 col-lg-3 form-group">
                                    <label>OP: </label> 
                                    <div class="input-group">
                                        <input name="strDDdesop" type="text"  [(ngModel)]="tblTraspaso.desop" class="form-control form-control-sm"  placeholder="OP a Buscar"/>
                                        <span class="input-group-btn">
                                            <button id="btnDDBuscarOp" class="btn btn-primary" type="button" (click)="BuscarOp()"> 
                                              <span class="fa fa-search"></span>
                                            </button>
                                        </span>
                                      </div>
                                    </div>
                            </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 form-group"> <label>CLIENTE: </label> <input name="strDDcliente"  [(ngModel)]="tbllamterTraspaso.nombrecli" disabled type="text" class="form-control form-control-sm"  placeholder="Nombre Cliente"   /> </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 form-group"> <label>ARTICULO: </label> <input name="strDDarticulo" [(ngModel)]="tbllamterTraspaso.nombreart"  disabled type="text" class="form-control form-control-sm"  placeholder="Nombre Articulo"  /> </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>INDUSTRIA: </label> 
                                        <input name="strDDindustria"  [(ngModel)]="tbllamterTraspaso.industria"  type="text" class="form-control form-control-sm" placeholder="Industria"  disabled/>
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>RESISTENCIA: </label> 
                                        <input name="strDDresistencia"  [(ngModel)]="tbllamterTraspaso.resistencia"  type="text" class="form-control form-control-sm"  placeholder="Resistencia"  disabled />
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>FLAUTA: </label> 
                                        <input name="strDDflauta"  [(ngModel)]="tbllamterTraspaso.flauta" type="text" class="form-control form-control-sm"  placeholder="Flauta" disabled/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>LARGO: </label> 
                                        <input name="strDDlargo"  [(ngModel)]="tbllamterTraspaso.largolamina"  type="text" class="form-control form-control-sm" placeholder="Larco" disabled />
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>ANCHO: </label> 
                                        <input name="strDDancho"  [(ngModel)]="tbllamterTraspaso.ancholamina"  type="text" class="form-control form-control-sm"  placeholder="Ancho" disabled />
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>SALDO: </label> 
                                        <input name="strDDsaldo" [(ngModel)]="tbllamterTraspaso.saldo"   type="text" class="form-control form-control-sm"  placeholder="Saldo" disabled />
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset class="fieldset">
                                <legend>Datos Traspaso</legend>

                                <div class="row">
                                    <div class="col-sm-12 col-md-10 col-lg-10 form-group"> 
                                        <label>ALMACEN: </label>
                                        <select name ="cmbdesalmacen" class="form-control form-control" [(ngModel)]="tblTraspaso.desalmacen"  >
                                            <option value="undefined">Seleccione un Almacen</option>  
                                            <option  [ngValue]="almacen.clave" *ngFor="let almacen of AlmacenDes" >{{almacen.nombre}}</option>
                                        </select> 
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>FOLIO: </label> 
                                        <input name="strTrasfolio"  [(ngModel)]="tblTraspaso.folio"  type="text" class="form-control form-control-sm" placeholder="Folio" disabled />
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>FECHA: </label> 
                                        <input name="strTrasfecha"  [(ngModel)]="tblTraspaso.fecha"  type="text" class="form-control form-control-sm"  placeholder="Fecha" disabled />
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 form-group"> 
                                        <label>CANTIDAD: </label> 
                                        <input name="strTrascantidad" [(ngModel)]="tblTraspaso.cantransferir"   type="text" class="form-control form-control-sm"  placeholder="Cantidad" disabled />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Notas: </label> 
                                        <textarea class="form-control rounded-0" id="strTrasNotas" [(ngModel)]="tblTraspaso.nota" rows="1" placeholder="Comentario de Transferencia de Lamina"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2" style="margin-top: 10px;">
                                    </div> 
                                </div>

                            </fieldset>
                            <div class="modal-footer ">
                                <button id="btnTrasCancelar" type="button" class="btn btn-danger" (click)="btnCancelar()"><i class="fas fa-times "></i> Cerrar</button>
                                <button id="btnTrasGuardar" type="button " class="btn btn-success" (click)="btnGuardar()"><i class="fas fa-save "></i> Guardar</button>
                            </div>


                    </div> 
                </div>

            </form>
        </div>
    </div>
    <div class="Pie ">
        <div class="container ">
            <div class="row ">
                <div class="col-xs-12 col-md-12 text-center ">
                    <small>CMO085MW - Captura de Transferencia de Lamina Terceros.</small>
                    <small> Versión: 07.03.2022.1</small>
                </div>
            </div>
        </div>
    </div>
</div>
