
<div class="modal-body">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px;">
            <label> <strong>Inicio Paro:</strong> </label>   
            <input name="strInicioParo" class="form-control form-control-sm" [(ngModel)]="paro.horaini"  type="datetime-local">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px;">
            <label> <strong>Fin Paro:</strong> </label>   
            <input name="strFinParo" class="form-control form-control-sm" [(ngModel)]="paro.horafin"  type="datetime-local">
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 form-group">
            <label>Duracion:</label>
            <input name="strDuracionParo" type="text" class="form-control form-control-sm" [(ngModel)]="paro.tiempomin" placeholder="Duracion Minutos"  />
        </div>                 
    </div>  
    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-5 form-group">
            <label>Comnetario:</label>
            <input name="strComentarioParo" type="text" class="form-control form-control-sm" [(ngModel)]="paro.comentario" placeholder="Comentarios"  />
        </div>      
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2 form-group btnpading">
            <button class="btn btn-info btn-sm"  (click)="AgregarParo()" >
                <i class="fa fa-search"></i> Guardar
            </button>
        </div>
    </div>     
</div>
<div class="modal-footer ">
    <button type="button " class="btn btn-danger" ><i class="fas fa-times "></i> Cerrar</button>
    <button type="button " class="btn btn-success " ><i class="fas fa-save "></i> Guardar</button>
</div>
