<form class="mb-1">
    <div class="row">
        <div class="col-sm-12">
                <fieldset class="fieldset">
                    <legend>-</legend>
                    <div class="row">
                        <div class="col-sm-4"> <mat-checkbox name="chkAtrasoentpapelxcompras">Atraso en ent. Papel por Compras</mat-checkbox> </div>
                        <div class="col-sm-4"> <mat-checkbox name="chkOtros">Otros</mat-checkbox> </div>
                        <div class="col-sm-4"> <mat-checkbox name="chkAnchonodelinea">Ancho No de Linea</mat-checkbox> </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"> <mat-checkbox name="chkAtrasoproveedor">Atraso Proveedor</mat-checkbox> </div>
                        <div class="col-sm-4"> <mat-checkbox name="chkCajafuerapresupuesto">Caja Fuera de Presupuesto </mat-checkbox> </div>
                        <div class="col-sm-4"> <mat-checkbox name="chkNosolicitarpapelplaneacion">No Solicitar Papel por Planeacion</mat-checkbox> </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"> <mat-checkbox name="chkAgotarpapelsinmovimiento">Agotar Papel Sin Movimiento</mat-checkbox> </div>
                        <div class="col-sm-4"> <mat-checkbox name="chkPresupuestoMenoraSolicitado">Presupuesto Menor a lo Solicitado</mat-checkbox> </div>
                        <div class="col-sm-4"> <mat-checkbox name="chkMenor1000mts">Menor a 1000 mts.</mat-checkbox> </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"> <mat-checkbox name="chkActualizacioncombinacionestandar">Actualizacion de Combinacion Estandar</mat-checkbox> </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"> <mat-checkbox name="chkDiferenciasdeanchos">Diferencias de Anchos</mat-checkbox> </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label>Comentarios: </label> 
                            <textarea class="form-control rounded-0" id="strComentarios" rows="2" placeholder="Comentarios" ></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Causa Modificacion: </label> 
                            <textarea class="form-control rounded-0" id="strCausaModificacion" rows="2" placeholder="Causa Modificacion" ></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-2 col-lg-2" style="margin-top: 10px;">
                                   
                    </div>                          
                </fieldset>
            
        </div>
    </div>
</form>
